language: node_js
node_js:
  - node
dist: trusty
sudo: false

branches:
  only:
  - master

cache:
  directories:
    - node_modules

install:
  - npm install -g yarn

before_script:
  - npm install -g --silent @angular/cli

script:
  - yarn lint
  - yarn build --base-href https://[ HyracTech ].github.io/hyracresources/
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist/hyracresources
  on:
    branch: master